
:root {
  --primary-color: #21c64a;
  --secondary-color: #d1741e;
  --accent1-color: #034918;
  --accent2-color: rgba(190, 111, 0, 0.725);
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--accent1-color);
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
  }
  
h1 {
  position: absolute;
  top: 50px;
  width: 100%;
  padding: 10px;
  text-align: center;
  opacity: 0.8;
  background-color: var(--accent1-color);
  color: #ffffff;
}

article {
  position: absolute;
  width: 100%;
  padding: 10px;
  background-color: var(--accent2-color);
  color: #ffffff;
  margin: 0;
  bottom: 50px;
}

.hero article img {
  float: right;
  width: 125px;
}

