
:root {
  --primary-color: #6df78f;
  --secondary-color: #349156;
  --accent1-color: #034918;
  --accent2-color: rgba(190, 111, 0, 0.725);
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--accent1-color);
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
  }
  
h1 {
  position: absolute;
  top: 50px;
  width: 100%;
  padding: 10px;
  text-align: center;
  opacity: 0.8;
  background-color: var(--accent1-color);
  color: #ffffff;
}

.hero article {
  position: absolute;
  width: 100%;
  padding: 10px;
  background-color: var(--accent2-color);
  color: #ffffff;
  margin: 0;
  bottom: 50px;
}

.hero article img {
  float: right;
  width: 125px;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.logo img {
  max-width: 100%; 
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;    
}

.navigation a {
    display: grid;
    padding: 20px;
    text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: 1000;
  border-bottom: 2px solid #000;
}

.box {
  padding: 1.5rem;
  background-color: var(--secondary-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 10px;  
}

.grid h2 {
  grid-column: span 3;
  text-align: center;
}

.grid img {
    width: 100%;  
    height: auto;  
}

.adventure-images {
display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: start;
  gap: 10px;  
  margin-top: 10px;
}

.adventure-images img {
    width: 100%;  
    height: auto;  
}

.adventure-images h2 {
  grid-column: span 5;
}

section h2 {
  text-align: center;
}

footer {
    display: flex;
    justify-content: right;
}

footer p {
  text-align: center;
}