
:root {
  --primary-color: #6df78f;
  --secondary-color: #349156;
  --accent1-color: #034918;
  --accent2-color: rgba(190, 111, 0, 0.725);
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: #000;
}

header, .about-main, footer {
  width: 840px;
  margin: 0 auto;
}

.about-h1, .about-h2 {
  font-family: var(--heading-font);
  color: #000;
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
  }
  
.about-h1 {
  position: absolute;
  top: 50px;
  width: 100%;
  padding: 10px;
  text-align: center;
  opacity: 0.8;
  background-color: var(--accent1-color);
  color: #ffffff;
}

.hero article {
  position: absolute;
  width: 100%;
  padding: 10px;
  background-color: var(--accent2-color);
  color: #000;
  margin: 0;
  bottom: 50px;
}

.hero article img {
  float: right;
  width: 125px;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.logo img {
  max-width: 100%; 
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;    
}

.navigation a {
    display: grid;
    padding: 20px;
    text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: 1000;
  border-bottom: 2px solid #000;
}

.box {
  padding: 1.5rem;
  background-color: var(--secondary-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 10px;  
}

.grid h2 {
  grid-column: span 3;
  text-align: center;
}

.grid img {
    width: 100%;  
    height: auto;  
}

.adventure-images {
display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: start;
  gap: 10px;  
  margin-top: 10px;
}

.adventure-images img {
    width: 100%;  
    height: auto;  
}

.adventure-images h2 {
  grid-column: span 5;
}

section .about-h2 {
  text-align: center;
}

footer {
    display: flex;
    justify-content: right;
}

footer p {
  text-align: center;
}

.contact-employee div {
display: flex;
justify-content: center; 
  gap: 40px;   
    margin-top: 20px;
     text-align: center;
       font-weight: bold;
}

.contact-employee img {
  width: 170px;
}

.contact-h2 {
 font-family: var(--heading-font);
  color: #000;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.contact-employee {
  border: 5px solid var(--accent1-color);
  background-color: var(--secondary-color);
  max-width: 840px;
  margin: 0 auto; 
}

.contact-information p {
  margin: 2px;
  padding: 2px;
}

.contact-information h1 {
  margin-top: 20px;
}

.contact-information  {
  text-align: center;
}

.contact-grid {
  margin: 0 auto;
  display: grid;
   gap: 20px;
  max-width: 800px;
  grid-template-columns: 1fr 1fr;
}

.map {
  grid-column: 1/2;
  width: 100%;
  height: 100%;
padding: 5px;
}

.contact-form table {
    width: 100%;
    border-collapse: collapse;
}

.contact-form, .index-form {
    grid-column: 2/3;
}

.contact-form td, .index-form td {
    padding: 8px;
    vertical-align: top;
}

button {
 border-color: var(--accent1-color);
 font-size: 1rem;
 font-weight: 550;
 background-color: var(--primary-color);
 width: 100%;
 padding: 5px;
}

.contact-form input[type="text"], .index-form input[type=text],
.contact-form textarea {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
}

.index-form table {
  width: 100%;
  border-collapse: collapse;
  max-width: 500px;
  margin: auto; 
}

.h1-index {
  text-align: center;
  padding: 15px;
}

.full-index-form {
  background-color: var(--secondary-color);
  max-width: 600px; 
    margin: 15px auto; 
    font-weight: 550;
}

.cta {
    margin: 10px auto; 
    text-align: center;
    background-color: var(--accent2-color);
     max-width: 500px;
     padding: 25px;
}

.cta h1 {
  padding-bottom: 10px;
  margin-bottom: 10px;
     border-bottom: 2px solid #000;
}

.cta a {
   color: #000;
   font-weight: 550;
}

.index-grid {
    display: grid;
     grid-template-columns: 200px 1fr;
     gap: 20px;
     background-color: var(--primary-color);
      padding: 20px; 
}

.grid-item {
    display: contents;
}

.index-grid img {
    width: 100%;
    height: auto;
}

.grid-item p {
  border: 2px solid #000;
}

.trip-desc {
  display: flex;
  justify-content: center; 
  gap: 20px;
  padding: 20px;
  background-color: var(--primary-color);
  max-width: 1000px;
  width: 100%;  
  margin: auto;
}

.trip-desc div {
   background-color: var(--secondary-color);
}

.trip-desc p {
  font-weight: 700;
  border-bottom: 2px solid #000;
}

.trips-table {
    width: 100%;
    border-collapse: collapse;
    max-width: 800px;
    margin: 20px auto;
}

.trips-table td, .trips-table th {
    padding: 8px;
    vertical-align: top;
    padding: 10px;
}

.trips-table td, .trips-table {
  border: 3px solid var(--accent1-color);
}

.trips-table th {
  background-color: var(--secondary-color);
}

.trips-table td {
  background-color: var(--primary-color);
}