main {
  max-width: 840px;
}

main img {
  width: 150px;
  height: auto;
}

header {
  border-bottom: 1px solid #000;
  text-align: center;
}

p { padding: 0;}

aside {
  width: 20rem;
  margin: 2rem;
  border: 2px solid rgb(0 0 0 / 0.2); /* 1️⃣ */
  padding: 1rem;
  background-color: #ddd;
  color: #000;
  text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

nav {
  background-color: #fff;
  padding: 0px;
}

nav a {
  color: #333;
  padding: 5rem;
}

h1 {
  color: #000;
}

main img {
  width: 15rem; 
  height: auto;
  border: 2px solid rgb(0 0 0 / 0.2); /* 1️⃣ */;
  padding: 0px;
  box-shadow: 0 0 30px #999;
}