* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 840px;
}

header {
  border-bottom: 1px solid #000;
  text-align: center;
}

p { padding: 0;}

aside {
  width: 20rem;
  margin: 2rem;
  border: 2px solid rgb(0 0 0 / 0.2); /* 1️⃣ */
  padding: 1rem;
  background-color: #ddd;
  color: #000;
  text-align: center;
  position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
  position: absolute;
  top: 20 px;
  left: 100px;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

nav {
  background-color: #fff;
  padding: 0px;
}

nav a {
  color: #333;
  padding: 1rem;
  display: block;
}

h1 {
  color: #000;
}

main img {
  width: 10rem; 
  height: auto;
  border: 2px solid rgb(0 0 0 / 0.2); /* 1️⃣ */;
  padding: 0px;
  box-shadow: 0 0 30px #999;
  float: right;
  margin: 0 0 1rem 1rem;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 1.5rem;
  background-color: #eee;
  color: #000;
}