* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border-bottom: 1px solid #000;
  text-align: center;
}

p { padding: 0;}

aside {
  width: 20rem;
  margin: 2rem;
  border: 2px solid rgb(0 0 0 / 0.2); /* 1️⃣ */
  padding: 1rem;
  background-color: #ddd;
  color: #000;
  text-align: center;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
  position: absolute;
  top: 20 px;
  left: 100px;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

nav {
  background-color: #fff;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: #333;
  padding: 1rem;
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 1000;
}

h1 {
  color: #000;
  padding: 0.5rem;
  border-bottom: 2px solid #000;
}

main img {
  width: 10rem; 
  height: auto;
  border: 2px solid rgb(0 0 0 / 0.2); /* 1️⃣ */;
  padding: 0px;
  box-shadow: 0 0 30px #999;
  float: right;
  margin: 0 0 1rem 1rem;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 1.5rem;
  background-color: #eee;
  color: #000;
}

header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
}

.grid {
  display: grid;
  align-items: center;
}

main {
  grid-column: 2/3;
  margin: 1rem;
}
    
